<div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Search for a place</h4>
    <input type="text" [(ngModel)]="address" (setAddress)="getAddress($event)" google-places/>
    <button (click)="addPlace()">Add</button>
  </div>
  <div>
    <h4>List of places</h4>
    <ul>
      <li *ngFor="let place of places ">
        {{place.name}}
         <button md-button (click)='removePlace(place.name)'>-</button>
      </li>
    </ul>
  </div>
</div>
